*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background: #24252A;
}

a{
    text-decoration: none;
}
ul,ol,li,a{
    list-style: none;
    display: inline-block;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
#nav .nav_continer .nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
#nav .nav_continer .nav_items .logo{
    cursor: pointer;
    font-size: 36px !important;
}
#nav .nav_continer .nav_items .logo a:active{
    color: #0088a9;
}
#nav .nav_continer .nav_items .nav_links ul li{
    padding: 0px 20px;
    text-transform: uppercase;
}
#nav .nav_continer .nav_items .nav_links ul li a{
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    font-size: 16px;

}
#nav .nav_continer .nav_items .nav_links ul li a:hover{
    color: #0088a9;
}
#nav .nav_continer .nav_items .btn a{
    padding: 9px 20px;
    color: white;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;

}
#nav .nav_continer .nav_items .btn a:hover{
    background: rgba(0,136,169,0.8);
}